# WARBISA Production Environment Variables
POSTGRES_DB=warbisa_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_production_secret_2026

JWT_SECRET=WARBISA_PROD_SUPER_SECRET_KEY_JWT_2026_MIN_32_BYTES
MIDTRANS_SERVER_KEY=SB-Mid-server-WARBISA_MOCK_SERVER_KEY_12345
MIDTRANS_CLIENT_KEY=SB-Mid-client-WARBISA_MOCK_CLIENT_KEY_12345
